<div class="content">
  <h2>All blogs</h2>
  <div class="blogs">
    <% if (blogs.length> 0) { %>
      <% blogs.forEach(blog=> { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title">
            <%=blog.title %>
          </h3>
          <p class="snippet">
            <%= blog.snippet %>
          </p>
        </a>
        <% }) %>
          <% } else {%>
            <p>Nothing yet to see here and onwards!</p>
            <% }%>
          <div class="pages">
            <form class="prev" id="<%= prevPage %>" action="/blogs?page=<%= prevPage %>" method="GET">
              <input type="hidden" name="page" value="<%= prevPage %>" /> 
              <button id="prev"><<</button>
            </form> 
            <form class="next" id="<%= nextPage %>" action="/blogs?page=<%= nextPage %>" method="GET">
              <input type="hidden" name="page" value="<%= nextPage %>" /> 
              <button id="next">>></button>
            </form>   
          </div>
  </div>
  
</div>
 