<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %> <%- body %> <%-
    include('./partials/foot.ejs') %>
    <div class="live-updates-container">
      <div class="live-updates-content"></div>
      <button class="toggle-live-updates">Live Updates</button>
    </div>
    <script>
      const wssHost = "<%=wssHost%>";
      const button = document.querySelector(".toggle-live-updates");
      const liveUpdatesContent = document.querySelector(
        ".live-updates-content"
      );
      let socket;

      const handleOpen = (e) => {
        button.textContent = "Close Live Updates";
      };

      const handleMessage = (event) => {
        const message = event.data;
        if (!message) {
          console.log("No message received from server");
          return;
        }
        const messageElement = document.createElement("p");
        messageElement.textContent = message;
        liveUpdatesContent.style.display = "inline-block";
        liveUpdatesContent.appendChild(messageElement);
      };

      const handleClose = (event) => {
        liveUpdatesContent.style.display = "none";
        while (liveUpdatesContent.firstChild) {
          liveUpdatesContent.firstChild.remove();
        }
        button.textContent = "Live Updates";
        cleanup();
      };

      const openWebSocket = () => {
        socket = new WebSocket(`${wssHost}`);
        socket.addEventListener("open", handleOpen);
        socket.addEventListener("close", handleClose);
        socket.addEventListener("message", handleMessage);
        button.removeEventListener("click", openWebSocket);
        button.addEventListener("click", closeWebSocket);
      };

      const closeWebSocket = () => {
        socket.close();
      };

      const cleanup = () => {
        socket.removeEventListener("open", handleOpen);
        socket.removeEventListener("close", handleClose);
        socket.removeEventListener("message", handleMessage);
        button.removeEventListener("click", closeWebSocket);
        button.addEventListener("click", openWebSocket);
      };

      button.addEventListener("click", openWebSocket);
    </script>
  </body>
</html>
